.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.center-items {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.w-100 {
  width: 100%;
}
.color-warning {
  background: #cb2805;
}
.transform-vertical {
  transform: rotate(-90deg);
}
